section#balls_diagram.balls_diagram.diagram
	h2 4. Скільки друкованних книжок Ви прочитали за останній рік?
	.container
		.row
			.col-12.col-lg-8.col-sm-10.offset-lg-2.offset-sm-1
				.balls_diagram__wrapper#balls_diagram_ch