section#chart_diagram.chart_diagram.diagram
	h2 4. Скільки друкованних книжок Ви прочитали за останній рік?
	h3 4.1 А скільки з них було книжок українського видавництва?
	.container
		.row
			.col-12
				.chart_diagram__wrapper
					canvas#chart_diagram_ch