section#circle_diagram_mid.circle_diagram_mid.diagram
	h2 7.1 Чи читаєте ви електронні книжки - книжки з ноутбука/комп'ютера, планшета, смартфона
	.container
		.row
			.col-md-4.col-xs-12.circle_diagram_mid__col
				table.circle_diagram_mid__info
					tr
						th.percent.timer.count-number(style="color: #212e58" data-to="67.8")
						th.text ні
					tr
						th.percent.timer.count-number(style="color: #212e58" data-to="0.9")
						th.text не відповіли
			.col-md-4.col-xs-12.circle_diagram_mid__col
				.circle_diagram_mid__wrapper
					canvas( id="circle_diagram_mid_ch")
			.col-md-4.col-xs-12.circle_diagram_mid__col
				table.circle_diagram_mid__info
					tr
						th.percent.timer.count-number(style="color: #212e58" data-to="31.3")
						th.text так