section#cuts_diagram.cuts_diagram.diagram
	h2 4. Скільки друкованних книжок Ви прочитали за останній рік?
	.container
		.row
			.col-12
				ul.cuts_diagram__badges
					li(style="border-color: #00A1AC; color: #00A1AC") 8,5% не маємо виключних майнових прав
					li(style="border-color: #7AC4C9; color: #7AC4C9") 8,5% не маємо виключних майнових прав
					li(style="border-color: #C4EBC9; color: #C4EBC9") 8,5% не маємо виключних майнових прав
		.row
			.col-12
				.cuts_diagram__wrapper
					canvas#cuts_diagram_ch