section#line_diagram.line_diagram.diagram
	h2 1. Як часто ви проводите дозвілля таким чином?
	.container
		.row
			.col-sm-12
				.line_diagram__wrapper
					.line_diagram__legend
						.line_diagram__legend_item
							.color(style="background-color: #212e58")
							span.title ніколи
						.line_diagram__legend_item
							.color(style="background-color: #3b608e")
							span.title декілька разів на рік
						.line_diagram__legend_item
							.color(style="background-color: #5d88bf")
							span.title кілька разів на місяць
						.line_diagram__legend_item
							.color(style="background-color: #88a2cb")
							span.title кілька разів на тиждень
						.line_diagram__legend_item
							.color(style="background-color: #becadf")
							span.title щодня
					.line_diagram__list
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title ходжу в кіно / на концерти / на виставки
							.percent_line#percent_line1
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title на природі
							.percent_line#percent_line2
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title на природі
							.percent_line#percent_line3
					.line_diagram__list
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title на природі
							.percent_line#percent_line4
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title на природі
							.percent_line#percent_line5
						.line_diagram__list_item
							img(src="img/gym.svg", alt="icon_name").icon
							span.title на природі
							.percent_line#percent_line6