section#mc_diagram.mc_diagram.diagram
	h3 4. Кого з сучасних українських письменників ви знаєте і кого читали?
	.container
		.row
			.col-12
				.mc_diagram__legend
					.item
						.color_idicator(style="background: #e46d6d")
						span.title знають
					.item
						.color_idicator(style="background: #6085bf")
						span.title читають
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Ліна Костенко
						.stat_block
							.stat_block__line(style="width: 97%;background: #e46d6d")
							.stat_block__num 9,7 %
						.stat_block
							.stat_block__line(style="width: 58%;background: #6085bf")
							.stat_block__num 5,8 %
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Жадан Сергій
						.stat_block
							.stat_block__line(style="width: 69%;background: #e46d6d")
							.stat_block__num 6,9 %
						.stat_block
							.stat_block__line(style="width: 39%;background: #6085bf")
							.stat_block__num 3,9 %
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Люко Дашвар(Чернова І.)
						.stat_block
							.stat_block__line(style="width: 30%;background: #e46d6d")
							.stat_block__num 3,0 %
						.stat_block
							.stat_block__line(style="width: 23%;background: #6085bf")
							.stat_block__num 2,3 %
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Ліна Костенко
						.stat_block
							.stat_block__line(style="width: 97%;background: #e46d6d")
							.stat_block__num 9,7 %
						.stat_block
							.stat_block__line(style="width: 58%;background: #6085bf")
							.stat_block__num 5,8 %
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Ліна Костенко
						.stat_block
							.stat_block__line(style="width: 97%;background: #e46d6d")
							.stat_block__num 9,7 %
						.stat_block
							.stat_block__line(style="width: 58%;background: #6085bf")
							.stat_block__num 5,8 %
			.col-12.col-sm-6.col-lg-4
				.mc_diagram__portrait_item
					img(src="img/portrait_ph.png", alt="ph")
					.data
						h4.title Ліна Костенко
						.stat_block
							.stat_block__line(style="width: 97%;background: #e46d6d")
							.stat_block__num 9,7 %
						.stat_block
							.stat_block__line(style="width: 58%;background: #6085bf")
							.stat_block__num 5,8 %
			.col-12.col-md-10.offset-md-1
				.mc_diagram__accordion.wide
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,9 %
						.mc_diagram__accordion_item_content
							table
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,8 %
						.mc_diagram__accordion_item_content
							table
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,7 %
						.mc_diagram__accordion_item_content
							table
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага
								tr
									td Абабагаламага
									td Ранок
									td Абабагаламага

			.col-12.col-md-8.offset-md-2
				.mc_diagram__accordion
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,9 %
						.mc_diagram__accordion_item_content
							table
								thead
									tr
										th(style="background: #e46d6d")
										th(style="background: #6085bf")
								tbody
									tr
										td Дяченки Марина та Сергій
										td Курков Андрій
									tr
										td Стус Василь
										td Прохасько Тарас
									tr
										td
										td Симона Вілар (Наталя Образцова)
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,8 %
						.mc_diagram__accordion_item_content
							table.content_table
								thead
									tr
										th(style="background: #e46d6d")
										th(style="background: #6085bf")
								tbody
									tr
										td Дяченки Марина та Сергій
										td Курков Андрій
									tr
										td Стус Василь
										td Прохасько Тарас
									tr
										td
										td Симона Вілар (Наталя Образцова)
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,7 %
						.mc_diagram__accordion_item_content
							table.content_table
								thead
									tr
										th(style="background: #e46d6d")
										th(style="background: #6085bf")
								tbody
									tr
										td Дяченки Марина та Сергій
										td Курков Андрій
									tr
										td Стус Василь
										td Прохасько Тарас
									tr
										td
										td Симона Вілар (Наталя Образцова)
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,6 %
						.mc_diagram__accordion_item_content
							table.content_table
								thead
									tr
										th(style="background: #e46d6d")
										th(style="background: #6085bf")
								tbody
									tr
										td Дяченки Марина та Сергій
										td Курков Андрій
									tr
										td Стус Василь
										td Прохасько Тарас
									tr
										td
										td Симона Вілар (Наталя Образцова)
					.mc_diagram__accordion_item
						.mc_diagram__accordion_item_control
							span.percent_title 0,5 %
						.mc_diagram__accordion_item_content
							table.content_table
								thead
									tr
										th(style="background: #e46d6d")
										th(style="background: #6085bf")
								tbody
									tr
										td Дяченки Марина та Сергій
										td Курков Андрій
									tr
										td Стус Василь
										td Прохасько Тарас
									tr
										td
										td Симона Вілар (Наталя Образцова)
			.col-12
				.mc_diagram__other_wrapper
					canvas#mc_diagram__other_ch