section#sides_diagram.sides_diagram.diagram
	h3 6.1 Чи були серед придбанних Вами книжок такі, яві Вам не дуже потрібні, але ви купили їх з наступних причин?
	.container
		.row
			.col-sm-12.col-md-8.sides_diagram__wrapper
					table.sides_diagram__table
						thead
							tr
								th усі
								th
								th
								th ті, хто за останній рік придбали хоча б одну друковану книгу
						tbody
							tr
								td.timer.count-number(data-to="15.7")
								td.icon
									img(src="img/gym.svg", alt="placeholder")
								td на подарунок
								td.timer.count-number(data-to="13.9")
							tr
								td.timer.count-number(data-to="1")
								td.icon
									img(src="img/coffee.svg", alt="icon_name")
								td щоб фінансово підтимати автора
								td.timer.count-number(data-to="2.6")
							tr
								td.timer.count-number(data-to="1.3")
								td.icon
									img(src="img/gym.svg", alt="icon_name")
								td щоб фінансово підтимати видавництво
								td.timer.count-number(data-to="3.2")
							tr
								td.timer.count-number(data-to="20.3")
								td.icon
								td нічого з наведенного
								td.timer.count-number(data-to="50.1")
							tr
								td.timer.count-number(data-to="2.3")
								td.icon
								td важко відповісти
								td.timer.count-number(data-to="5.7")