doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps

		article#about_page.page
			section#about_project.about_project
				h1 Про проект
				.container
					.row
						.col-12.col-md-4.offset-md-1.col
							h3 Ukrainian Reading and Publishing Data 2018
							p Всеукраїнський масштабний проект, що покликаний представити зріз сучасного стану книговидавничого ринку та читацьких вподобань і тим самим надати об’єктивну інформацію, що вплине як на формування політики культурних інституцій, так і редакційних портфелів видавців, надасть матеріал для презентації українського ринку за кордоном в ефективному і візуальному форматі інфографічної презентації. 
							p В умовах, коли Україна стає дедалі цікавішою для закордонних партнерів, таке представлення може стати профілем України на міжнародному видавничому ринку, стильним і функціональним представленням ринку, що динамічно розвивається та інтегрується у міжнародний європейський контекст.
						.col-12.col-md-4.offset-md-2.col
							h3 Мета проекту
							p На основі проведеного дослідження щодо стану ринку та читацьких вподобань українців на 2018 рік створити створити умови для подальшого розвитку книговидавничої галузі на основі об’єктивних та актуальних показників. Відтак вплинути на формування видавничих планів видавництв, державної політики у галузі культури та книговидання, створити основу для подальших маркетингових досліджень, представлення українського ринку за кордоном. Результати дослідження будуть представлені на інтерактивній платформі в рамках проекту «Читомо» у вільному доступі в мережі. Таким чином задовольняється інтерес гравців внутрішнього ринку, а також потенційних закордонних партнерів.
			section#creators.creators
				h2 Організатори
				.container
					.row
						.col-lg-4.col-12.col
							p
								strong Підручник.UA
								|  — платформа електронних підручників з системою аналітики та електронним щоденником, проект успішно впроваджений за підтримки Міністерства освіти:
								a(href="http://www.gutenbergz.com/ua/pidruchnyk.html")  http://www.gutenbergz.com/ua/pidruchnyk.html
						.col-lg-4.col-12.col
							p
								strong Культурно-видавничий проект «Читомо»
								|  — медіа про книгу в усіх її проявах і про осмислене читання як трамплін, інструмент для самоосвіти та реалізації. Це команда, що має понад 9-річний досвід роботи на видавничому ринку України, велику базу прямих контактів з директорами і топ-менеджерами українських і закордонних видавців. Ініціює опитування видавців щопівроку та складає аналітичні звіти.
						.col-lg-4.col-12.col
							p
								strong Центр Розумокова
								|  – провідний недержавний аналітичний центр України, що здійснює дослідження державної політики, заснований 1994 року. Згідно з Рейтингом аналітичних центрів світу 2015, який щороку публікує Університет Пенсильванії, Центр Разумкова входить до п'ятірки найкращих аналітичних центрів Центральної і Східної Європи. Місія центру – сприяння становленню України як демократичної, правової, соціальної європейської держави, розвитку громадянського суспільства, підвищення якості життя громадян, підвищенню міжнародного авторитету Української держави та реалізації її національних інтересів.
			section#partners.partners
				h2 Партнери
				.container
					.row
						.col-12
							ul.partners__list
								li.light_text Український інститут книги
								li.light_text ГО «Український Літературний Центр»
								li.light_text Nielsen Book Research
								li.light_text Лондонський книжковий ярмарок
								li.light_text Франкфуртський книжковий ярмарок
								li.light_text Міжнародна асоціація видавців


		include templates/footer