doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps

		article#contacts_page.page
			section#contacts.contacts
				h2 Контакти
				.container
					.row
						.col-xs-10.offset-xs-1
							p У разі виникнення запитань звертайтесь за електронною адресою:
								br
								a(href="mailto: chytomo@gmail.com")  chytomo@gmail.com
		include templates/footer
