doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps
		article#diagrams_page.page
			section#formated_text.formated_text
				h1 Laborum in eu incididunt
				.container
					.row
						.col-12.col
							#diagram_nav
								h3 Зміст:
								ul
									li
										a(href="#circle_diagram") 1. Чи були серед придбаних вами книжок такі, які вам не дуже потрібні, але ви купили їх з наведених причин?
									li
										a(href="#circle_diagram_mid") 2. Скільки друкованних книжок Ви прочитали за останній рік?
									li
										a(href="#chart_diagram") 3. Скільки друкованних книжок Ви прочитали за останній рік?
					.row
						.col-12.col-sm-8.offset-sm-2.col.formated_text
							p Aliquip id nisi id nostrud tempor nisi laborum occaecat eu ullamco nostrud excepteur. Dolor et ad dolore aliqua dolore eu excepteur occaecat deserunt ipsum amet amet dolore reprehenderit. Incididunt sit nulla voluptate anim duis velit. Aute deserunt quis ut fugiat reprehenderit laborum eu aliqua.
							p Velit labore pariatur cillum laborum dolor incididunt duis ea mollit est nulla labore amet. Occaecat proident pariatur dolor laboris dolore exercitation sint eiusmod non. Nulla laborum enim reprehenderit cillum dolor aliquip anim minim fugiat. Sint proident anim nisi qui quis. Magna aliqua minim et ad sint non id commodo laborum.

			include templates/diagrams/circle-diagram

			include templates/diagrams/circle-diagram-mid

			include templates/diagrams/line-diagram

			include templates/diagrams/sides-diagram

			include templates/diagrams/chart-diagram

			include templates/diagrams/mc-diagram

			include templates/diagrams/wave-diagram

			section#cuts_diagram.cuts_diagram.diagram
				h2 4. Скільки друкованних книжок Ви прочитали за останній рік?
				.container
					.row
						.col-12
							ul.wave_diagram__badges
								li(style="border-color: #00A1AC; color: #00A1AC") 8,5% не маємо виключних майнових прав
								li(style="border-color: #7AC4C9; color: #7AC4C9") 8,5% не маємо виключних майнових прав
								li(style="border-color: #C4EBC9; color: #C4EBC9") 8,5% не маємо виключних майнових прав
					.row
						.col-12
							.cuts_diagram__wrapper
								canvas#cuts_diagram_ch

		include templates/footer

		script(src="js/number-counter.js")
		script(src="js/chart.min.js")
		script(src="js/diagrams.js")

		script.
			//for page "Читання в Україні"
			var books_colors = ["#212e58","#3b608e","#5d88bf","#88a2cb","#becadf", "#462556","#efefef","#333333","#ee746a"];

			//for page "Книговидання в Україні"
			var publisher_colors = ["#00A1AC","#7AC4C9","#C4EBC9","#84C38D","#00618A", "#462556","#EEEFED","#333333","#FECE6D"];

			var circle_diagram_data = [19.5,32.2,33.4,10.6,4.3];

			var circle_diagram_labels = ['мені це зовсім нецікаво','інколи хочеться щось почитати','загалом люблю читати','не уявляю свого життябез читання','важко відповісти'];

			var circle_diagram_mid_data = [31.3,67.8,0.9];

			var circle_diagram_mid_labels = ['так','ні','не відповіли'];

			var chart_diagram_labels = ['0(жодної)','1-5','6-10','10-25','більше 50','важко відповісти','не відповіли'];

			var mc_diagram_labels = ['Класики української літератури','Взагалі не читають книжок','Жодного не читали','Важко відповісти','не відповіли'];

			var chart_diagram_data_1 = [37.1,36.2,14.2,6.4,3.7,1.5,6.6,0.2];
			var chart_diagram_data_2 = [56.4,25.7,6.1,2.7,2.1,0.4,6.9,0.5];

			var mc_diagram_data_1 = [1.9,31.4,14,13.8,9.9];
			var mc_diagram_data_2 = [0.8,31.4,16.1,14.9,13];

			var tooltips_config = {
				titleFontSize: 14,
				titleMarginBottom: 8,
				bodyFontSize: 14,
				xPadding: 10,
				yPadding: 10
			}

			var line_data = [
					{
						title: 'ніколи',
						value: 19.5
					},
					{
						title: 'декілька разів на рік',
						value: 32.2
					},
					{
						title: 'кілька разів на місяць',
						value: 33.4
					},
					{
						title: 'кілька разів на тиждень',
						value: 10.6
					},
					{
						title: 'щодня',
						value: 4.3
					}
			]

			$('#percent_line1').percentLine(line_data,books_colors);
			$('#percent_line2').percentLine(line_data,books_colors);
			$('#percent_line3').percentLine(line_data,books_colors);
			$('#percent_line4').percentLine(line_data,books_colors);
			$('#percent_line5').percentLine(line_data,books_colors);
			$('#percent_line6').percentLine(line_data,books_colors);

			var cut_diagram_labels = ['0','20','100','500','1000','3000','>3000'];

			var cut_diagram_metric = ['47,2%','28,3%','6,6%','0,9%','0,9%','0,1%'];

			var ctx_cud = document.getElementById('cuts_diagram_ch').getContext('2d');
			var chart = new Chart(ctx_cud, {
					type: 'bar',
					data: {
							xLabels: cut_diagram_labels,
							datasets: [
								{
									label: cut_diagram_metric[0],
									backgroundColor: publisher_colors[0],
									data: [cut_diagram_labels[0]]
								},
								{
									label: cut_diagram_metric[1],
									backgroundColor: publisher_colors[1],
									data: ['100']
								},
								{
									label: cut_diagram_metric[2],
									backgroundColor: publisher_colors[2],
									data: ['500']
								},
								//- {
								//- 	label: cut_diagram_metric[3],
								//- 	backgroundColor: publisher_colors[3],
								//- 	data: ['1000']
								//- },
								//- {
								//- 	label: cut_diagram_metric[4],
								//- 	backgroundColor: publisher_colors[4],
								//- 	data: ['3000']
								//- },
								//- {
								//- 	label: cut_diagram_metric[4],
								//- 	backgroundColor: publisher_colors[4],
								//- 	data: ['більше 3000']
								//- },
							]
					},
					options: {
						tooltips: tooltips_config,
						maintainAspectRatio: false,
						scales: {
							yAxes: [{
									type: 'category',
							}]
						},
						title: {
							display: true,
							text: 'кількість книжок'
						},
						legend: {
								display: false,
						}
					}
			});

			var ctx_cd = document.getElementById('chart_diagram_ch').getContext('2d');
			var chart = new Chart(ctx_cd, {
					type: 'bar',
					data: {
							labels: chart_diagram_labels,
							datasets: [{
									label: "всього",
									backgroundColor: "#462556",
									data: chart_diagram_data_1
							},{
									label: "українського видавництва",
									backgroundColor: "#ee746a",
									data: chart_diagram_data_2
							}]
					},
					options: {
						tooltips: tooltips_config,
						maintainAspectRatio: false,
						title: {
							display: true,
							text: 'кількість книжок'
						},
						legend: {
								display: true,
								position: 'bottom',
						}
					}
			});

			var ctx_cdmc = document.getElementById('circle_diagram_mid_ch').getContext('2d');
			var chart = new Chart(ctx_cdmc, {
					type: 'doughnut',
					data: {
							labels: circle_diagram_mid_labels,
							datasets: [{
									borderWidth: .5,
									backgroundColor: books_colors,
									data: circle_diagram_mid_data,
							}]
					},
					options: {
						tooltips: tooltips_config,
						cutoutPercentage: 75,
						maintainAspectRatio: false,
						legend: {
								display: false
						}
					}
			});

			var ctx_cdc = document.getElementById('circle_diagram_ch').getContext('2d');
			var chart = new Chart(ctx_cdc, {
					type: 'doughnut',
					data: {
							labels: circle_diagram_labels,
							datasets: [{
									borderWidth: .5,
									backgroundColor: books_colors,
									data: circle_diagram_data,
							}]
					},
					options: {
						tooltips: tooltips_config,
						cutoutPercentage: 75,
						maintainAspectRatio: false,
						legend: {
								display: false
						}
					}
			});

			var ctx_mcdo = document.getElementById('mc_diagram__other_ch').getContext('2d');
			var chart = new Chart(ctx_mcdo, {
					type: 'bar',
					data: {
							labels: mc_diagram_labels,
							datasets: [{
									label: "знають",
									backgroundColor: "#e46d6d",
									data: mc_diagram_data_1
							},{
									label: "читають",
									backgroundColor: "#6085bf",
									data: mc_diagram_data_2
							}]
					},
					options: {
						tooltips: tooltips_config,
						maintainAspectRatio: false,
						title: {
							display: true,
							text: 'Інше'
						},
						legend: {
								display: false
						}
					}
			});

			var wave_diagrams_percent_labels = ['0','10','25','50','75','100']

			var ctx_wd = document.getElementById('wave_diagram_ch').getContext('2d');
			var chart = new Chart(ctx_wd, {
					type: 'line',
					data: {
						//- labels: wave_diagrams_percent_labels,
						datasets: [
							{
								label: "Название 1",
								fill: 'bottom',
								borderColor: publisher_colors[0],
								backgroundColor: publisher_colors[0],
								data: [
									{
										x: 0,
										y: 0
									},
									{
										x: 10,
										y: 7.5
									},
								]
							}, {
								label: "Название 2",
								fill: 'bottom',
								borderColor: publisher_colors[1],
								backgroundColor: publisher_colors[1],
								data: [
									{
										x: 0,
										y: 0
									},
									{
										x: 25,
										y: 3.8
									},
								]
							},
							{
								label: "Название 3",
								fill: 'bottom',
								borderColor: publisher_colors[2],
								backgroundColor: publisher_colors[2],
								data: [
									{
										x: 0,
										y: 0
									},
									{
										x: 50,
										y: 9.4
									},
								]
							},
							{
								label: "Название 4",
								fill: 'bottom',
								borderColor: publisher_colors[3],
								backgroundColor: publisher_colors[3],
								data: [
									{
										x: 0,
										y: 0
									},
									{
										x: 75,
										y: 16
									},
								]
							},
							{
								label: "Название 5",
								fill: 'bottom',
								borderColor: publisher_colors[4],
								backgroundColor: publisher_colors[4],
								data: [
									{
										x: 0,
										y: 0
									},
									{
										x: 95,
										y: 54.7
									},
								]
							},
						]
					},
					options: {
						tooltips: tooltips_config,
						maintainAspectRatio: false,
						scales: {
							xAxes: [{
									type: 'linear',
									ticks: {
											min: 0,
											max: 100,
											stepSize: 5
									}
							}],
						},
						legend: {
								display: false
						}
					}
			});
