doctype html
html(lang="uk")
	include templates/head
	body#top-scroll.with_main_header
		include templates/main_header

		article#home_page.page
			section#home_content.home_content
				.home_content__wrapper.container
					.row
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph.jpg", alt="placeholder")
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph_2.jpg", alt="placeholder")
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph.jpg", alt="placeholder")
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph_2.jpg", alt="placeholder")
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph.jpg", alt="placeholder")
						.col-md-6.col-lg-4.col-sm-12
							.home_content__item
								a(href="#")
									h2 Найзапам’ятовуваніший ВСЛ
									p Которые ваши руки мощные творческие инструменты, обеспечивают абсолютный которые контроль над текстом. их помощью вы можете применять к любым элементам тени, эффекты
									img(src="img/home_ph_2.jpg", alt="placeholder")
					.row
						.col-sm-12
							button.home_content__load_more Читати ще

		include templates/footer