doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps

		article#methodology_page.page
			section#methodology.methodology
				h2 Методологія
				.container
					.row
						.col-12.col-md-4.offset-md-1.col
							p Польовий етап дослідження здійснювався Українським  центром економічних і політичних досліджень імені Олександра Разумкова і тривав з 26 жовтня по 1 листопада 2018 року. Основні етапи включали адаптацію опитувальника, наданого замовником, супровідного інструментарію, проведення польового етапу (інтерв'ю з респондентами), контроль роботи інтерв’юерів, кодування, введення і логічний контроль інформації.
							p Вибірка дослідження є випадковою на всіх етапах, окрім останнього, на якому відбір респондентів відбувався за квотами, і репрезентативної для дорослого населення України. Опитування проходило у всіх областях України, АР Крим, Севастополі і Києві, до участі в опитуванні було залучено 108 інтерв’юерів.
						.col-12.col-md-4.offset-md-2.col
							p У результаті польового етапу  було зібрано 2013 опитувальників. Кодування опитувальників здійснювалося кваліфікованими фахівцями. При кодуванні здійснювався контроль правильності заповнення опитувальників. Порівняння демографічних розподілів із статистичними даними для оцінки репрезентативності показує, що максимальна розбіжність між ними  становить 1,7%.
							p Було відібрано 122 населених пунктів (з них 65 міських і 57 сільських населених пунктів). Теоретична помилка для вибірки розміром в 2013 респондентів становить D = 2,23%. Максимальна статистична похибка вибірки з урахуванням дизайн-ефекту дорівнює 2,23*1,232= 2,8%. Частка респондентів, які взяли участь в опитуванні 60,6%, частка відмов 39,4%.
					.row
						.col-12
							.button_wrapper
								a(href="#").methodology__show_all.transparent Завантажити повний документ
			section#goal.goal
				h2 Мета дослідження
				.container
					.row
						.col-12
							h3.light_text Метою дослідження було вивчення читацької аудиторії України.


		include templates/footer