doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps

		article#methodology_page.page
			section#methodology.methodology

		include templates/footer