doctype html
html(lang="uk")
	include templates/head
	body#top-scroll
		include templates/header
		include templates/breadcrumps

		article#single_news_page.page
			section#news_content.news_content
				h1 Книжка за ціною обіду: скільки українці готові платити за читання українці
				.container
					.row
						.col-12.col-sm-10.offset-sm-1.col
							p Середня вартість книжки, яку купували українці протягом 2018 року, складає 135 гривень. Приблизно стільки ж коштує середній чек на обід у київському кафе. Про це свідчать дані всеукраїнського дослідження «Ukrainian Reading Publishing Data 2018», здійснене культурно-видавничим проектом «Читомо» спільно з цифровим видавництвом GUTENBERGZ у співпраці із соціологічною службою Центру Разумкова.
							p Більше 250 гривень за книгу віддавали лише 3% українців, а найчастіше купували видання вартістю до 100 гривень.
							p За 4 роки середня вартість книжки зросла майже втричі: у дослідженні 2014 року ціна придбаної книжки  становила 50 гривень. При цьому книжок стали купувати більше. Протягом 2018 року 40% українців купували книжки, а у 2014 році частка покупців становила лише 31%.
							p Покращився і загальний добробут українців. У 2014 році 32% опитаних стверджували, що змушені економити на їжі та одязі, наразі ж цей показник опустився до 21%.
							img(src="img/news_ph.jpg", alt="placeholder")
							p Повний текст дослідження доступний за посиланням: 
								a(href="#") посилання.
							p Дослідження проведено за підтримки Українського культурного фонду.
							p Дослідження проведено соціологічною службою Центру Разумкова з 26 жовтня по 1 листопада 2018 року в усіх регіонах України за винятком Криму та окупованих територій Донецької та Луганської областей. Опитано 2013 респондентів віком від 15 до 59 років. Теоретична похибка вибірки – 2,3%.
							h2 Aute nulla veniam ea reprehenderit tempor consectetur amet.
							p Sunt dolor anim nulla esse laboris sit mollit aliqua aliquip. Dolore labore officia ex et anim duis pariatur consectetur anim nostrud dolor. Commodo quis ex consectetur excepteur sint ullamco Lorem id Lorem. Adipisicing incididunt aute qui cillum cillum nostrud.
							h3 Aute nulla veniam ea reprehenderit tempor consectetur amet.
							p Sunt dolor anim nulla esse laboris sit mollit aliqua aliquip. Dolore labore officia ex et anim duis pariatur consectetur anim nostrud dolor. Commodo quis ex consectetur excepteur sint ullamco Lorem id Lorem. Adipisicing incididunt aute qui cillum cillum nostrud.
							h4 Aute nulla veniam ea reprehenderit tempor consectetur amet.
							p Sunt dolor anim nulla esse laboris sit mollit aliqua aliquip. Dolore labore officia ex et anim duis pariatur consectetur anim nostrud dolor. Commodo quis ex consectetur excepteur sint ullamco Lorem id Lorem. Adipisicing incididunt aute qui cillum cillum nostrud.
							h5 Aute nulla veniam ea reprehenderit tempor consectetur amet.
							p Sunt dolor anim nulla esse laboris sit mollit aliqua aliquip. Dolore labore officia ex et anim duis pariatur consectetur anim nostrud dolor. Commodo quis ex consectetur excepteur sint ullamco Lorem id Lorem. Adipisicing incididunt aute qui cillum cillum nostrud.
							h6 Aute nulla veniam ea reprehenderit tempor consectetur amet.
							p Sunt dolor anim nulla esse laboris sit mollit aliqua aliquip. Dolore labore officia ex et anim duis pariatur consectetur anim nostrud dolor. Commodo quis ex consectetur excepteur sint ullamco Lorem id Lorem. Adipisicing incididunt aute qui cillum cillum nostrud.
							ul
								li Officia officia duis duis reprehenderit aute.
								li Officia officia duis duis reprehenderit aute.
								li Officia officia duis duis reprehenderit aute.
							ol
								li Officia officia duis duis reprehenderit aute.
								li Officia officia duis duis reprehenderit aute.
								li Officia officia duis duis reprehenderit aute.

		include templates/footer








