section#breadcrumps.breadcrumps
	ul
		li
			a(href="index.html") Головна
			img(src="img/chevron_left.svg", alt="іконка шеврон")
		li
			a(href="index.html") Книговидання в Україні
			img(src="img/chevron_left.svg", alt="іконка шеврон")
		li.active
			span Внутрішня сторінка
