footer
	.footer_nav__wrapper
		nav.footer_nav
			ul
				li
					a(href="#") Читання в Україні
				li
					a(href="#") Книговидання в Україні
				li
					a(href="#") Досьє видавництв
				li
					a(href="about.html") Про проект
				li
					a(href="#") Методологія
				li
					a(href="contacts.html") Контакти
	.footer_partners__wrapper
		.footer_partners
			.footer_partners_item
				img(src="img/ucf_logo_ua_full.svg", alt="ucf_logo")
			.footer_partners_item
				img(src="img/gut.svg", alt="gutenbergz_logo")
			.footer_partners_item
				img(src="img/Logo_chytomo.svg", alt="chytomo_logo")
	.footer_goback#scroll-top
			a(href="#top-scroll" title="Давай почнемо все спочатку")
				span Давай почнемо все спочатку
				figure.footer_goback_circle
					img(src="img/chevron_up.svg", alt="chevron up")

script(src="js/jquery-3.3.1.min.js")
script(src="js/slow-scroll.min.js")
script(src="js/app.js")






