#loader_screen
header.header
	figure.hamburger
		.hamburger_line
		.hamburger_line
		.hamburger_line
	.header__wrapper
		.header__logo
			a(href="index.html")
				h2 Ukrainian Reading and Publishing Data 2018
		.header__lang
			ul
				li
					a(href="#") Ukrainian
				li
					a(href="#") English
				li
					a(href="#") Deutsch
	nav.header__nav
		ul
			li
				a(href="#") Читання в Україні
			li
				a(href="#") Книговидання в Україні
			li
				a(href="#") Досьє видавництв
			li
				a(href="about.html") Про проект
			li
				a(href="methodology.html") Методологія
			li
				a(href="contacts.html") Контакти