#loader_screen
header.main_header
	figure.hamburger
		.hamburger_line
		.hamburger_line
		.hamburger_line
	.main_header__wrapper
		.main_header__nav
			.main_header__logo
				h1 Ukrainian Reading and Publishing Data 2018
			nav
				ul
					li
						a(href="diagrams.html") Читання в Україні
					li
						a(href="#") Книговидання в Україні
					li
						a(href="#") Досьє видавництв
					li
						a(href="about.html") Про проект
					li
						a(href="methodology.html") Методологія
					li.on_extended_menu_only
						a(href="contacts.html") Контакти
		.main_header__lang
			ul
				li
					a(href="#") Ukrainian
				li
					a(href="#") English
				li
					a(href="#") Deutsch